@import 'src/styles/to-rem';

.lds-dual-ring {
  display: inline-block;
  width: toRem(80px);
  height: toRem(80px);

  &::after {
    content: ' ';
    display: block;
    width: toRem(64px);
    height: toRem(64px);
    margin: toRem(8px);
    border-radius: 50%;
    border: toRem(6px) solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
